@font-face {
  font-family: 'Radiance-SemiBold';
  src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot');
  src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'), url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'), url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'), url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reaver';
  src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff') format('woff'), url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

::selection {
  background: #dd342f !important;
  color: #fff !important;
}
::-moz-selection {
  background: #dd342f !important;
  color: #fff !important;
}

body {
  font-family: 'Reaver', sans-serif;
  display: block;
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 2px;
  background-image: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGFydHklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
}

.navbar-color {
  background: -webkit-linear-gradient(left, #131315, #131315, #131315, #131315);
  filter: drop-shadow(0px 16px 10px #00000099);
}

.card {
  background-color: #36363ebf;
  color: #a3a3a3;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

input {
  font-family: 'Radiance-SemiBold', sans-serif;
}
