<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="profile.css">
    <title>My Profile</title>
  </head>
  <body>
    <div class="container">
      <img src="https://via.placeholder.com/150" alt="Profile Picture">
      <h1>Nama Lengkap</h1>
      <p class="title">Jabatan</p>
      <p>Tentang saya:</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin congue magna, eu blandit dui fermentum vel. </p>
      <p>Email: email@example.com</p>
      <p><button>Contact</button></p>
    </div>
  </body>
</html>