<!DOCTYPE HTML>
<html>

<head>
    <title>Halaman Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Register</h1>
        <form>
            <label>Email</label>
            <input type="email" required>
            <label>Username</label>
            <input type="text" required>
           <label>Password </label>
            <input type="text" required> 
            <button> Register </button>
            <div style="margin-top: 10%;">
                <h3 style="text-align: center; color: red;">sign in</h3>
            </div>
        </form>
    </div>
</body>

</html>